# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
wheels/
share/python-wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the EXE, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
#   According to pypi.org, the Pipfile is a requirement for pipelines,
#   so we can't ignore it.
# Pipfile.lock

# virtualenv
venv/
ENV/
env.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.vscode/
*.swp
*.swo
*.session
.project
.idea/
*.pyc
.env
.DS_Store

# Log files
logs/
*.log

# Environment variables
.env

# Uvicorn specific
uvicorn.pid

# FastAPI specific
/fastapi_openapi.json
/fastapi_schema.json


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
